@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2d4af1;
}

body {
}

.cl-internal-180wb59 {
  display: none;
}

.cl-internal-wf8x4b {
  display: none;
}

.cl-internal-1fcj7sw {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
